# Capstone  
**Author:** Sundus Yawar  
**Student ID:** 583854  
**Institute:** BrainStation  
**Capstone Supervisor:** Amir Rahimizadeh

# Importing Data

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('MY2015 Fuel Consumption Ratings.csv', encoding='iso-8859-1')
df.head()

,MODEL,MAKE,MODEL.1,VEHICLE CLASS,ENGINE SIZE,CYLINDERS,TRANSMISSION,FUEL,FUEL CONSUMPTION*,Unnamed: 9,Unnamed: 10,Unnamed: 11,CO2 EMISSIONS,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,YEAR,NaN,NaN,NaN,(L),NaN,NaN,TYPE,CITY (L/100 km),HWY (L/100 km),COMB (L/100 km),COMB (mpg),(g/km),NaN,NaN,NaN,NaN
1,2015,ACURA,ILX,COMPACT,2.0,4.0,AS5,Z,9.7,6.7,8.3,34,191,NaN,NaN,NaN,NaN
2,2015,ACURA,ILX,COMPACT,2.4,4.0,M6,Z,10.8,7.4,9.3,30,214,NaN,NaN,NaN,NaN
3,2015,ACURA,ILX HYBRID,COMPACT,1.5,4.0,AV7,Z,6.0,6.1,6.1,46,140,NaN,NaN,NaN,NaN
4,2015,ACURA,MDX SH-AWD,SUV - SMALL,3.5,6.0,AS6,Z,12.7,9.1,11.1,25,255,NaN,NaN,NaN,NaN

In [6]:
dataframes = {}
for year in range(2015, 2024):
    file_path = 'MY{} Fuel Consumption Ratings.csv'.format(year)
    dataframes[year] = pd.read_csv(file_path, encoding='iso-8859-1')

C:\Users\Sundus Yawar\AppData\Local\Temp\ipykernel_41420\3479470965.py:4: DtypeWarning: Columns (0,1,2,3,4,6,7,8,9,10,11,12,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes[year] = pd.read_csv(file_path, encoding='iso-8859-1')
C:\Users\Sundus Yawar\AppData\Local\Temp\ipykernel_41420\3479470965.py:4: DtypeWarning: Columns (0,1,2,3,4,6,7,8,9,10,11,12,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes[year] = pd.read_csv(file_path, encoding='iso-8859-1')
C:\Users\Sundus Yawar\AppData\Local\Temp\ipykernel_41420\3479470965.py:4: DtypeWarning: Columns (0,1,2,3,4,6,7,8,9,10,11,12,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes[year] = pd.read_csv(file_path, encoding='iso-8859-1')
C:\Users\Sundus Yawar\AppData\Local\Temp\ipykernel_41420\3479470965.py:4: DtypeWarning: Columns (0,1,2,3,4,6,7,8,9,10,11,12,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes[year] = pd.read_csv(file_path, encoding='iso-8859-1')

In [8]:
fuel_cons_rating_2015 = dataframes[2015] 
fuel_cons_rating_2016 = dataframes[2016]
fuel_cons_rating_2017 = dataframes[2017]
fuel_cons_rating_2018 = dataframes[2018]
fuel_cons_rating_2019 = dataframes[2019]
fuel_cons_rating_2020 = dataframes[2020]
fuel_cons_rating_2021 = dataframes[2021]
fuel_cons_rating_2022 = dataframes[2022]
fuel_cons_rating_2023 = dataframes[2023]

In [21]:
for year in range(2015, 2024):
    df = 'fuel_cons_rating_{}'.format(year)
    print(df,":\n",dataframes[year].isna().sum(),"\n<=========================>")

fuel_cons_rating_2015 :
 MODEL                  12
MAKE                    7
MODEL.1                22
VEHICLE CLASS          22
ENGINE SIZE            21
CYLINDERS              22
TRANSMISSION           22
FUEL                   21
FUEL CONSUMPTION*      21
Unnamed: 9             21
Unnamed: 10            21
Unnamed: 11            21
CO2 EMISSIONS          21
Unnamed: 13          1154
Unnamed: 14          1154
Unnamed: 15          1154
Unnamed: 16          1154
dtype: int64
<=========================>
fuel_cons_rating_2016 :
 MODEL                254
MAKE                 244
MODEL.1              264
VEHICLE CLASS        264
ENGINE SIZE          263
CYLINDERS            264
TRANSMISSION         264
FUEL                 263
FUEL CONSUMPTION     263
Unnamed: 9           263
Unnamed: 10          263
Unnamed: 11          263
CO2 EMISSIONS        263
CO2                  263
Unnamed: 14         1374
Unnamed: 15         1374
Unnamed: 16         1374
dtype: int64
<=========================>
fuel_cons_rating_2017 :
 MODEL             254
MAKE              244
MODEL.1           265
VEHICLE CLASS     265
ENGINE SIZE       264
                 ...
Unnamed: 217     1323
Unnamed: 218     1323
Unnamed: 219     1323
Unnamed: 220     1323
Unnamed: 221     1323
Length: 222, dtype: int64
<=========================>
fuel_cons_rating_2018 :
 Model             251
Make              239
Model.1           260
Vehicle Class     260
Engine Size       259
                 ...
Unnamed: 216     1343
Unnamed: 217     1343
Unnamed: 218     1343
Unnamed: 219     1343
Unnamed: 220     1343
Length: 221, dtype: int64
<=========================>
fuel_cons_rating_2019 :
 Model             250
Make              238
Model.1           259
Vehicle Class     259
Engine Size       258
                 ...
Unnamed: 216     1315
Unnamed: 217     1315
Unnamed: 218     1315
Unnamed: 219     1315
Unnamed: 220     1315
Length: 221, dtype: int64
<=========================>
fuel_cons_rating_2020 :
 Model            4154
Make             4142
Model.1          4163
Vehicle Class    4163
Engine Size      4162
                 ...
Unnamed: 216     5138
Unnamed: 217     5138
Unnamed: 218     5138
Unnamed: 219     5138
Unnamed: 220     5138
Length: 221, dtype: int64
<=========================>
fuel_cons_rating_2021 :
 Model            4150
Make             4138
Model.1          4159
Vehicle Class    4159
Engine Size      4158
                 ...
Unnamed: 216     5129
Unnamed: 217     5129
Unnamed: 218     5129
Unnamed: 219     5129
Unnamed: 220     5129
Length: 221, dtype: int64
<=========================>
fuel_cons_rating_2022 :
 Model            5717
Make             5705
Model.1          5726
Vehicle Class    5726
Engine Size      5725
                 ...
Unnamed: 217     6700
Unnamed: 218     6700
Unnamed: 219     6700
Unnamed: 220     6700
Unnamed: 221     6700
Length: 222, dtype: int64
<=========================>
fuel_cons_rating_2023 :
 Model            6515
Make             6503
Model.1          6524
Vehicle Class    6524
Engine Size      6523
                 ...
Unnamed: 219     7347
Unnamed: 220     7347
Unnamed: 221     7347
Unnamed: 222     7347
Unnamed: 223     7347
Length: 224, dtype: int64
<=========================>